<script setup>
import StartGameForm from '../components/StartGameForm.vue';
import { useRouter } from "vue-router";
//to move to questions 
const router = useRouter();
const handleAuthSuccess = () => {
    router.push("Questions")
}
</script>

<template>
    <fieldset>
        <h1>Welcome</h1>
        <StartGameForm @onAuthSuccess="handleAuthSuccess"/>
    </fieldset>

    </template>