<script setup>
import { computed, ref, onMounted } from 'vue'
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import router from '../router';
import { patchScore } from '../api/users';

const store = useStore();
//bad naming but the function does the action in store and setQuestion to set the first 
async function test(){
        await store.dispatch("fetchQuestions");
        SetQuestion();
}
//runs the bad named function when page mount
onMounted(() => {
    test();
    });

//variables that get values from store
const quiz = computed(()=> store.state.quizQuestions);
const user = computed(() => store.state.user);
//variables
let currentQuestion =ref({});
let questionCounter = 0;
let currentAnswers = ref([]);
let usersAnswers = ref([]);
let userPoints = 0;

//sets current question and answers
const SetQuestion = () => {
    //currentQuestion
    currentQuestion.value = quiz.value[questionCounter];
    //answers to question
    quiz.value[questionCounter].incorrect_answers.forEach(element => {
        currentAnswers.value.push(element)
    });
    currentAnswers.value.push(quiz.value[questionCounter].correct_answer);
    
    //console.log(currentAnswers.value)
}

//Function to set the current question to show
//when clicking increasing the counter to show next question
const ClickNextQuestion = (clickedAnswer) => {
    usersAnswers.value.push(clickedAnswer)
    //if correct answer
    if(clickedAnswer == quiz.value[questionCounter].correct_answer){
        userPoints += 10;
    }
    questionCounter++;
        //when the questions are over set the answers and points and push to result
    if(quiz.value.length==questionCounter){
        store.commit("setUserPoints", userPoints)
        store.commit("setUsersAnswers", usersAnswers.value)
        patchScore(user.value.username, userPoints)
        router.push('Results')
    }else{
        //empty the answerarray
        currentAnswers.value =[];
        SetQuestion()
    }
    //console.log(userPoints)
}

</script>
<template>
    <h1>Good luck {{user.username}}!</h1>
    <h2>{{currentQuestion.question}}</h2>
    <button v-for="answer in currentAnswers" :key="answer"
        @click="ClickNextQuestion(answer)">{{answer}}</button><br><br>

           <!-- <p v-for="cat in quiz" :key="cat.question" :value="cat.question">
                {{ cat.question }}
                <br><br>
                <label for="answer" v-for=" x in cat.incorrect_answers"
                :key="x" :value="x">{{x}} 
                    <input type="checkbox" id="answer" :value="x"><br><br></label>
                <label for="answer">{{cat.correct_answer}} 
                    <input type="checkbox" id="answer" :value="cat.correct_answer"><br><br></label>
                boring game with right answer always at the same place
                        <button @click="ClickNextQuestion">Subscribe</button>   -->
    

</template>