<script setup>
import { computed, ref, onMounted } from 'vue'
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import router from '../router';

const store = useStore();
//variables that get values from store
const quiz = computed(()=> store.state.quizQuestions);
const user = computed(() => store.state.user);
const myAnswers = computed(() => store.state.usersAnswers)
const score = computed(() => store.state.userPoints)


//resetting user to null and takes back to start
//console logging error because it does not want to read null but it redirects
const ClickLogOut = () => {
    store.commit("setUser", null)
    router.push("/")
}

</script>
<template>
    <h1>Good job {{user.username}} you got {{score}} points!!</h1>
<table>
  <tr>
    <th>Question</th>
    <th>Correct answer</th>
  </tr>
  <tr v-for="q in quiz" :key="q">
    <td>{{q.question}}</td>
    <td>{{q.correct_answer}}</td>
  </tr>
</table>
    <table>
  <tr>
    <th>Your answers</th>
  </tr>
  <tr v-for="u in myAnswers" :key="u">
      <td>{{u}}</td>
  </tr>
</table>
<button @click="ClickLogOut">Log Out</button>
</template>

<style>
/* https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>