<script setup>
import {ref, onMounted, computed} from 'vue';
import { useStore } from 'vuex';
import { ifExists } from '../api/users';

//to notify the view when process is done, creating event
const emit = defineEmits(["onAuthSuccess"])

//variables to store userinput
const username = ref("");
const choosendiff = ref("");
const choosenCat = ref("");
const choosenAmount = ref("");
const store = useStore();

//fetch categories when mount
onMounted(() => store.dispatch("fetchCategories"));
//get them from store
const catagories = computed(()=> store.state.catagories);

//when clicked check for valid input, if it is add to api if dont exist and store in store
const onStartClick= () => {
    
    if(username.value == "" || choosenCat.value == "" || choosendiff.value == "" || choosenAmount.value<0){
        alert("you need to put in valid information to start the game")
    }
    else{
        //to check if user alredy exist and to store user in api
        ifExists(username.value)
        //store values 
        store.commit("setUser", {
        username: username.value,
        });
        store.commit("setChoosenCat", choosenCat.value)
        store.commit("setChoosenDiff", choosendiff.value)
        store.commit("setChoosenAmount", choosenAmount.value)
        //to questions view
        emit("onAuthSuccess")
    }
}
</script>

<template>
            <form>
        <fieldset class="mb-3">
            <label for="username">Username</label>
            <input type="text" id="username" 
                placeholder="username"
                v-model="username">
        </fieldset>

       <fieldset class="mb-3">
           <label for="dificulty">Dificulty</label><br>
            <select id="dificulty" v-model="choosendiff">
                <option>easy</option>
                <option>medium</option>
                <option>hard</option>
            </select><br>

            <label for="numberOfQuestions">Number of questions</label><br>
            <input id="numberOfQuestions"
                type="number"
                min="1"
                max="50"
                v-model="choosenAmount"><br>
                
            <label for="catagories">Categories</label><br>
        <select id="catagories"
            v-model="choosenCat"
            name="Choose Catagory">
            <option v-for="cat in catagories" :key="cat.id" :value="cat.id">
                {{ cat.name }}
            </option>
            </select><br>

        </fieldset>

        <div class="grid gap-2 grid-cols-2">
            <button @click="onStartClick" type="button">Start the game</button>
        </div>
    </form>
</template>